
<div class="container">

  <div class="sign-up">

    <h1 class="heading">Welcome to quiz world!</h1>

    <div class="text">
      <img height="20px" src="assets/icon.png" />
      <input placeholder=" Name" type="text" />
    </div>
    <div class="text">
      <img height="20px" src="assets/email.png" />
      <input placeholder=" Example@gmail.com" type="email" />
    </div>
    <div class="text">
      <img height="20px" src="assets/pass2.png" />
      <input placeholder=" Password" type="password" />
    </div>
    <button routerLink="/main">Create account</button>
    <p class="conditions">Already have an account <a href="#">Sign in</a></p>
  </div>
  <div class="text-container">
    <h1 style="color: #2d2c2c; font-family: arial; line-height: 50px;">Hello, dear friend</h1>
    <p>If you want to take interesting quizzes, please register</p>

  </div>
</div>

