<div class="container">

  <div class="sign-up">

    <h1 class="heading">Welcome back to Quiz World!</h1>

    <div class="input-container">
      <label for="username"><img height="20px" src="assets/icon.png" /></label>
      <input id="username" [(ngModel)]="username" placeholder="Name" type="text" />
    </div>
    <div class="input-container">
      <label for="password"><img height="20px" src="assets/pass2.png" /></label>
      <input id="password" [(ngModel)]="password" placeholder="Password" type="password" />
    </div>
    <button class="login-button" (click)="login()" routerLink="/main">Log In</button>
    <p class="conditions">Don't have an account yet? <a href="register/">Sign Up</a></p>
  </div>
</div>
