<div class="top-bar">
  <a class="logo-main-link" routerLink="/main"><span class="logo-left-part">Quiz</span><span class="logo-right-part">Hub</span></a>

  <div *ngIf="islogged" class="route-buttons">
    <button routerLink="/quizzes">All Quizzes</button>
    <button routerLink='/users/{{username}}/quizzes'>My Quizzes</button>
    <button routerLink="/quizzes/new/making">Create Quiz</button>
  </div>
  <div class="user-buttons">
    <button *ngIf="!islogged" routerLink="/login" class="sign-in-button">Sign In<img class="sign-icon" src="assets/icon.png" ></button>
    <div *ngIf="islogged" class="user-info">
      <span class="user-name">{{firstname}} {{lastname}}</span>
      <button routerLink="/main" (click)="logout()" class="log-out-button">Log Out<img class="sign-icon" src="assets/icon.png" ></button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="text-uppercase mb-4">QuizHub</h4>
        <p class="text-white">A platform for online quizzes and tests</p>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase mb-3">Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase mb-3">Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
