
<h1>New Quiz Making</h1>
<div class="quiz-creation">
  <div class="left-creation-part">
    <img [src]="image||'assets/no-image.png'">
    <div class="div-input">
      Name:
      <input [(ngModel)]="quiz_name" placeholder="New Quiz" id="name-input" type="text">
    </div>
    <div class="div-input">
      Description: <input [(ngModel)]="quiz_description" placeholder="new quiz description" id="description-input" type="text">
    </div>
    <div>
      Image:
      <input accept="image/*" id="image-input" type="file" (change)="onFileSelected($event)">
    </div>
  </div>
  <div class="right-creation-part">
    Quiz
  </div>
</div>
