/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: mont;
  src: url(assets/Montserrat-VariableFont_wght.ttf) format("opentype");
}

body{
  margin:0px;
  font-family: mont;
}

.logo-right-part{
  background-color: #FFA240;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.logo-left-part{
  color: #3AAACF;
  font-size: 1.1em;
}
