/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  background-color: #192a56;
  color: #fff;
  position: relative;
}

.logo-main-link {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.logo-left-part {
  color: #FFA500;
}

.route-buttons {
  display: flex;
}

.route-buttons button {
  margin-right: 20px;
  background-color: #FFA500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.user-buttons {
  display: flex;
  align-items: center;
}

.sign-in-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.sign-in-button:hover, .log-out-button:hover {
  color: #FFA500;
}

.sign-icon {
  margin-left: 10px;
  width: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-name {
  margin-right: 20px;
  font-weight: bold;
}

.log-out-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}


/* Footer Styling */
.footer {
  background-color: #f6a00d;
  color: #ffffff;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.footer:hover {
  height: 300px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer h4 {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer p {
  font-size: 16px;
  color: #ffffff;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ffffff;
  font-size: 16px;
}

.footer ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer ul li a i {
  font-size: 24px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 0;
  }

  .footer .container {
    flex-wrap: wrap;
  }

  .footer .col-md-6,
  .footer .col-md-3 {
    text-align: center;
    margin-bottom: 30px;
  }
}


