<div class="top-bar">
  <a class="logo-main-link" routerLink="/main"><span class="logo-left-part">Quiz</span><span class="logo-right-part">Hub</span></a>

  <div *ngIf="islogged" class="route-buttons">
    <button routerLink="/quizzes">All Quizzes</button>
    <button routerLink='/users/{{username}}/quizzes'>My Quizzes</button>
    <button routerLink="/quizzes/new/making">Create Quiz</button>
  </div>
  <div class="user-buttons">
    <button *ngIf="!islogged" routerLink="/login" class="sign-in-button">Sign In<img class="sign-icon" src="assets/icon.png" ></button>
    <div *ngIf="islogged" class="user-info">
      <span class="user-name">{{firstname}} {{lastname}}</span>
      <button routerLink="/main" (click)="logout()" class="log-out-button">Log Out<img class="sign-icon" src="assets/icon.png" ></button>
    </div>
  </div>
</div>
