.quiz-card{
  --quiz-size: 200px;
  width: var(--quiz-size);
  height: var(--quiz-size);
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  background-size: var(--quiz-size);
  background-position: center center;
  color: white;
  overflow: hidden;
}
.star-rating {
  display: flex;
  align-items: center;
  width: 160px;
  justify-content: space-between;
  margin:0px auto;
  position: relative;
}
h1{
  margin-bottom: 5px;
  text-shadow:
    1px 1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    -1px -1px 0 black;
}
.info-part{
  background-color: black;
  transform: translateY(-100px);
  height: 200px;
  transition-duration: .3s;
}
.info-part:hover{
  background-color: rgba(0, 0, 0, 0.47);
  transform: translateY(-200px);
}

p{
}
.quiz-card:hover{
  background-size: 120%;
  transition-duration: .2s;
}


.quiz-list{
  margin: 0px 30px 100px 30px;
}

.info-part p {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
}

img{
  pointer-events: none;
  z-index: -1;
  height: inherit;
}
