<footer class="footer">
  <div class="container">
    <div class="footer-section">
      <h4>About Us</h4>
      <p>We are QuizHub, a platform for creating and sharing quizzes. Our mission is to make learning fun and engaging for everyone.</p>
      <ul class="social-icons">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul class="footer-links">
        <li><a href="main">Home</a></li>
        <li><a href="quizzes">All Quizzes</a></li>
        <li><a href="quizzes/new/making/">Create Quiz</a></li>
        <li><a href="main/#about">About Us</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contact Us</h4>
      <ul class="contact-info">
        <li><i class="fas fa-map-marker-alt"></i>KBTU</li>
        <li><i class="fas fa-envelope"></i><a href="https://github.com/Danila-Khlebokazov/QuizHub">qithub@quizhub.com</a></li>
        <li><i class="fas fa-phone"></i>+7 (702) 323-40-46</li>
      </ul>
    </div>
  </div>
</footer>
