<footer class="footer">
  <div class="container">
    <div class="footer-section">
      <h4>About Us</h4>
      <p>We are QuizHub, a platform for creating and sharing quizzes. Our mission is to make learning fun and engaging for everyone.</p>
      <ul class="social-icons">
        <li><a href="https://www.facebook.com/" class="fab fa-facebook">Facebook</a></li>
        <li><a href="https://twitter.com/" class="fab fa-twitter">Twitter</a></li>
        <li><a href="https://www.instagram.com/?__coig_restricted=1" class="fab fa-instagram">Instagram</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul class="footer-links">
        <li><a href="http://localhost:4200/main">Home</a></li>
        <li><a href="http://localhost:4200/quizzes">All Quizzes</a></li>
        <li><a href="http://localhost:4200/quizzes/new/making">Create Quiz</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contact Us</h4>
      <ul class="contact-info">
        <li><i class="fas fa-map-marker-alt"></i>123 Main St, New York, NY 10001</li>
        <li><i class="fas fa-envelope"></i><a href="mailto:info@quizhub.com">info@quizhub.com</a></li>
        <li><i class="fas fa-phone"></i>(123) 456-7890</li>
      </ul>
    </div>
  </div>
</footer>
