
<div *ngIf="quizzes.length == 0" class="no-quizzes">
  <p>You have no quizzes!</p>
  <p>How about making a new one?</p>
  <button class="create-button" routerLink="/quizzes/new/making/">Create</button>
</div>


<div class="quiz-list">
  <div routerLink="/quizzes/{{q.id}}/making/" class="quiz-card" *ngFor="let q of quizzes">
    <img [src]="q.image" alt="Quiz Image">
    <div class="info-part">
      <h1>{{q.title}}</h1>
      <div class="star-rating">
        <div  *ngFor="let i of [1,2,3,4,5]">
          <img style="width: 20px;" src="assets/full-star.png" *ngIf="q.rating >= i">
          <img style="width: 20px;" src="assets/empty-star.png" *ngIf="q.rating < i">
        </div>
      </div>
      <p>{{q.description}} </p>
    </div>
  </div>
</div>
